---
import { Image } from "astro:assets";
import CoverImg from "@assets/images/events/202604-april-fool/music-cover.png";
import MusicTitleImg from "@assets/images/events/202604-april-fool/music-title.png";
import titleImage from "@assets/images/events/202604-april-fool/title-maintheme.png";
import CustomPicture from "@components/commons/CustomPicture/CustomPicture.astro";
import { toWidths } from "@components/domains/avatar/images/common";
import { css } from "@styles/css";
import { loadCasts } from "../common/casts";

const casts = await loadCasts();

const rootStyle = css({
  display: "flex",
  flexDirection: "column",
  alignItems: "center",
  gap: "26",
  paddingBlock: "12",
});

const coverImageStyle = css({
  width: "80",
  height: "80",
});

const titleImageStyle = css({
  width: {
    base: "80",
    _pc: "96",
  },
  margin: "auto",
});

const layoutStyle = css({
  display: "flex",
  gap: "26",
  alignItems: "center",
  flexDir: {
    base: "column",
    _pc: "row",
  },
});

const musicInfoStyle = css({
  display: "flex",
  flexDirection: "column",
  alignItems: "center",
  gap: "12",
});

const musicDescriptionStyle = css({
  display: "flex",
  w: {
    base: "96",
    _pc: "128",
  },
  flexDirection: "column",
  background: "white/90",
  rounded: "3xl",
  shadow: "xs",
  paddingBlock: "16",
  paddingInline: "12",
});

const musicDescriptionItemStyle = css({
  display: "grid",
  gridTemplateColumns: "max-content 1fr",
  rowGap: "8",
  columnGap: "16",
  alignItems: "baseline",
  "& dt": {
    textStyle: "decorative.bold.2xs",
    textAlign: "right",
  },
  "& dd": {
    textStyle: "decorative.bold.lg",
  },
});

const supprementTextStyle = css({
  textStyle: "normal.bold.2xs",
  "& a": {
    textDecoration: "underline",
    textUnderlineOffset: "2px",
  },
});

const musicTitleImageStyle = css({
  width: "80",
});

const boothLinkImageStyle = css({
  display: "inline-block",
  verticalAlign: "text-top",
  w: {
    base: "80",
    _pc: "32",
  },
});

const spOnlyBreak = css({
  display: {
    base: "initial",
    _pc: "contents",
  },
});

const storeURL = new URL("https://pple.booth.pm/items/8133713");
---

<section class={rootStyle}>
  <h2>
    <CustomPicture src={titleImage} class={titleImageStyle} alt="メインテーマ" fit="cover" height={192} width={560} widths={toWidths(560, { width: 560, height: 192 })} />
  </h2>
  <div class={layoutStyle}>
    <div class={musicInfoStyle}>
      <CustomPicture src={CoverImg} alt="" class={coverImageStyle} height={600} width={600} widths={toWidths(600, { width: 600, height: 600 })} />
      <h3>
        <CustomPicture src={MusicTitleImg} alt="なぞ？なぞ！ぷぷりえ☆大解決！" class={musicTitleImageStyle} height={350} width={600} widths={toWidths(600, { width: 600, height: 350 })} />
      </h3>
    </div>
    <aside class={musicDescriptionStyle}>
      <dl class={musicDescriptionItemStyle}>
       <dt>うた</dt>
        <dd>
          <ul>
            {
              casts.map(({ nickname }) => (
                <li>{nickname}</li>
              ))
            }
          </ul>
        </dd>

        <dt>さっきょく</dt>
        <dd>
          るぅなん
          <small class={supprementTextStyle}>(<a href="https://x.com/lu_narn">@lu_narn</a>)</small></dd>
        <dt>さくし</dt>
        <dd>rikusu</dd>
        <dt>カバーイラスト</dt>
        <dd>
          あすかろ
          <small class={supprementTextStyle}>()</small>
        </dd>
         <dt>販売サイトは<br class={spOnlyBreak}>こちら</dt>
        <dd>
          <a href={storeURL.href}><Image src="https://asset.booth.pm/static-images/banner/200x40_01.png" alt="BOOTHで見る" class={boothLinkImageStyle} width={200} height={40} format="png"></a>
        </dd>
      </dl>
    </aside>
  </div>
</section>