---
import SocialLinks from "@components/decoratives/Links/SocialLink/SocialLinks.astro";
import Paper from "@components/decoratives/Paper/Paper.astro";
import NameSticker from "@components/decoratives/Sticker/NameSticker.astro";
import NameStickerList from "@components/decoratives/Sticker/NameStickerList.astro";
import { fetchCast } from "@lib/contents/casts";
import { pickColorBase } from "@lib/contents/commons/ColorToken";
import type { SocialLink } from "@lib/contents/commons/SocialLink";
import { css } from "@styles/css";

interface Props {
  nickname: string;
}

const { nickname } = Astro.props;

const {
  themeColor,
  profile,
  socialLinks,
  vrchat: { userId, userPageURL },
} = await fetchCast(nickname);

const links = [
  {
    url: userPageURL,
    description: `VRChat: ${nickname}のユーザーページ`,
    type: "vrchat",
  } as const satisfies SocialLink,
  ...socialLinks,
];

const themeColorName = pickColorBase(themeColor);

const rootStyle = css({
  h: {
    base: "80",
    _pc: "80",
  },
  py: "12",

  bg: "colorPalette.50/70",
  colorPalette: themeColorName,

  display: "flex",
  flexDirection: "column",
  alignItems: "center",
  justifyContent: "flex-start",
});

const stickerStyle = css({
  pt: "12",
});

const linksStyle = css({
  pt: "12",
});
---

<section class={rootStyle} aria-label={`${nickname}のプロフィール`}>
  <Paper size="short" themeColor={themeColorName}>
    <NameStickerList slot="header" class={stickerStyle}>
      <NameSticker key="VRChat ID" value={userId} themeColor={themeColorName} />
    </NameStickerList>

    {profile.introduction}

    {
      links.length > 0 && (
        <SocialLinks
          slot="footer"
          variant="sticker"
          links={links}
          class={linksStyle}
          label={`${nickname}のソーシャルリンク一覧`}
        />
      )
    }
  </Paper>
</section>
