---
import CustomPicture from "@components/commons/CustomPicture.astro";
import { SP_MAX_WIDTH, SP_ROOT_FONT_SCALE } from "@lib/browsers/breakpoint";
import { remToSizePercent } from "@lib/utils/image";
import { css, cva } from "@styles/css";
import type { HTMLAttributes } from "astro/types";

type Size = "small" | "medium" | "large";

interface Props extends HTMLAttributes<"picture"> {
  /**
   * 表示するキャプション
   */
  label?: string;

  /**
   * 画像の src 属性
   */
  src: string | ImageMetadata;

  /**
   * Picture Component に指定する alt 属性
   */
  alt: string;

  /**
   * 画像のサイズ
   */
  size: Size;

  /**
   *
   */
  scale?: number;
}

const {
  label,
  src,
  alt,
  size,
  class: className,
  scale = 1,
  ...rest
} = Astro.props;

/**
 * VIEWPORT 1440 の場合での画像幅
 */
const widthSet = {
  small: 240,
  medium: 336,
  large: 528,
};

const width = widthSet[size] * scale;

const widths = [width, Math.round(width * 2), Math.round(width / 2)];

const sizes = `${remToSizePercent(width)}%, (max-width: ${SP_MAX_WIDTH}px) ${remToSizePercent(width) * SP_ROOT_FONT_SCALE}%`;

const simple = label === undefined;

const rootStyleRecipe = cva({
  base: {
    pos: "relative",
    bg: "white",
    h: "56",
    pt: "5",
    pb: "10",
    px: "3",
  },
  variants: {
    size: {
      small: {
        w: "36",
      },
      medium: {
        w: "48",
      },
      large: {
        w: "72",
      },
    },
  },
});

const rootStyle = rootStyleRecipe({ size });

const imageStyle = css({
  "& img": {
    w: "full",
    h: "full",
    objectFit: "cover",
  },
});

const captionStyle = css({
  fontSize: "12",
  lineHeight: "1.5",
});

const scaleStyle = scale !== 1 ? { scale } : {};
---

{
  simple ? (
    <div class:list={[rootStyle, className]} style={scaleStyle}>
      <CustomPicture
        src={src}
        alt={alt}
        width={width}
        widths={widths}
        sizes={sizes}
        pictureAttributes={{
          ...rest,
          class: imageStyle,
        }}
      />
    </div>
  ) : (
    <figure class:list={[rootStyle, className]} style={scaleStyle}>
      <CustomPicture
        src={src}
        alt={alt}
        width={width}
        widths={widths}
        sizes={sizes}
        pictureAttributes={{
          ...rest,
          class: imageStyle,
        }}
      />
      {label && <figcaption class={captionStyle}>{label}</figcaption>}
    </figure>
  )
}
