---
import SocialLinks from "@/components/decoratives/Links/SocialLink/SocialLinks.astro";
import Logo from "@/components/decoratives/Vectors/Logo/Logo.astro";
import { fetchOfficialSocialLinks } from "@/lib/contents/official/social";
import { css } from "@styles/css";
import FooterBorder from "./internals/FooterBorder.astro";

const rootStyle = css({
  h: "64",
  pos: "relative",
});

const footerPositionStyle = css({
  pos: "absolute",
  bottom: "[100%]",
  w: "full",
  h: "[fit-content]",
});

const contentStyle = css({
  bgGradient:
    "[linear-gradient(to bottom, {colors.latte.deep}, {colors.latte.900})]",
  display: "flex",
  justifyContent: "space-evenly",
  alignItems: "center",
  px: "4",
  py: "2",
  h: "full",
  color: "white",
});

const copyrightSetStyle = css({
  display: "flex",
  flexDir: "column",
  alignItems: "center",
  textAlign: "center",
  gap: "2",
  w: "36",

  _pc: {
    w: "64",
  },
});

const logoStyle = css({
  w: "20",
});

const ppleSocialLinks = await fetchOfficialSocialLinks();
---

<footer class={rootStyle}>
  <FooterBorder class={footerPositionStyle} />
  <div class={contentStyle}>
    <div class={copyrightSetStyle}>
      <figure class={css({ display: "contents" })}>
        <Logo type="pple" class={logoStyle} />
        <figcaption>
          <small>
            Copyright © <time datetime="2021">2021</time> ロリっ子喫茶ぷぷりえ.
            <br /> All rights reserved.
          </small>
        </figcaption>
      </figure>
      <nav>
        <SocialLinks links={ppleSocialLinks} variant="vector-only" />
      </nav>
    </div>

    <figure class={copyrightSetStyle}>
      <Logo type="vrchat" class={logoStyle} />
      <figcaption>
        <small>This event will be held on the VRChat platform.</small>
      </figcaption>
    </figure>
  </div>
</footer>
