---
import PageHeading from "@components/decoratives/Headings/PageHeading.astro";
import type { Article } from "@content/articles";
import { css } from "@styles/css";
import ArticleContentSection from "./ArticleContentSection/ArticleContentSection.astro";
import ArticleNavigation from "./ArticleNavigation/ArticleNavigation.astro";

interface Props {
  article: Article;
  title: string;
}

const { article, title } = Astro.props;
const { thumbnail, thumbnailLabel, themeColor, content, publishedAt } = article;

const mainClass = css({
  display: "flex",
  flexDir: "column",
  alignItems: "center",
});

const contentClass = css({
  minHeight: "192",
  paddingTop: "26",
  paddingBottom: "42",
});
---

<div class={mainClass}>
  <PageHeading img={thumbnail}>{title}</PageHeading>
  <ArticleContentSection
    contentHtml={content}
    thumbnail={thumbnail}
    thumbnailDisplayAlt={thumbnailLabel ?? ""}
    title={title}
    themeColor={themeColor}
    publishedAt={new Date(publishedAt)}
    class={contentClass}
  />
  <ArticleNavigation />
</div>
