---
import Icon from "@components/decoratives/Vectors/Icon/Icon.astro";
import type { IconType } from "@components/decoratives/Vectors/Icon/types";
import type { ColorThemeBase } from "@lib/contents/commons/ColorToken";
import { css, cva } from "@styles/css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  /**
   *
   */
  name: string;

  /**
   *
   */
  color: ColorThemeBase;

  /**
   *
   */
  icon: IconType;

  /**
   *
   */
  width: "short" | "medium";
}

const { name, color, icon, width, ...attrs } = Astro.props;

const rootStyleRecipe = cva({
  base: {
    bgColor: "white",
    color: "colorPalette.bg",
    colorPalette: color,
    display: "inline-block",
    h: "7",
    borderRadius: "xs",
    overflow: "hidden",
    shadow: "xs",

    _before: {
      content: "''",
      pos: "absolute",
      borderRadius: "xs",

      width: "full",
      height: "full",

      borderWidth: "sm",
      borderTopWidth: "2xl",
    },
  },
  variants: {
    width: {
      short: {
        w: "28",
      },
      medium: {
        w: "32",
      },
    },
  },
});

const rootStyle = rootStyleRecipe({ width });

const iconWrapStyle = css({
  w: "full",
  h: "7",
  overflow: "hidden",
});

const iconStyle = css({
  color: "colorPalette.lite",
  colorPalette: color,
  w: "10",
  h: "10",
  pos: "absolute",
  top: "[50%]",
  left: "1",
  transform: "[translate(0, -50%) rotate(40deg)]",
});

const textSize = name.length > 6 ? "small" : "regular";

const textStyleRecipe = cva({
  base: {
    display: "inline-block",
    color: "colorPalette.deep",
    colorPalette: color,
    pos: "absolute",
    w: "full",
    h: "full",
    textAlign: "center",
    top: "[0]",
  },
  variants: {
    textSize: {
      small: {
        textStyle: "decorative.bold.sm",
        paddingTop: "2",
      },
      regular: {
        textStyle: "decorative.bold.base",
        paddingTop: "1",
      },
    },
  },
});

const textStyle = textStyleRecipe({ textSize });
---

<figcaption class:list={[rootStyle, attrs.class]} {...attrs}>
  <div class={iconWrapStyle}>
    <Icon type={icon} class={iconStyle} aria-hidden />
  </div>
  <span class={textStyle} translate="no">
    {name}
  </span>
</figcaption>
