---
import LetterLink from "@components/domains/article/LetterLink/LetterLink.astro";
import HomePickupSection from "@components/layouts/Sections/HomePickupSection/HomePickupSection.astro";
import { fetchNewArticles } from "@lib/contents/articles";
import { css } from "@styles/css";

const listStyle = css({
  // SP
  display: "grid",
  gridTemplateColumns: "repeat(2, 1fr)",
  gap: "2",
  p: "4",

  _pc: {
    display: "flex",
    flexDir: "row",
    alignItems: "center",
    justifyContent: "center",
    gap: "9",

    h: "96",
    w: "256",
  },
});

const listItemStyle = css({
  w: "[fit-content]",
  h: "[fit-content]",
});

const newArticles = await fetchNewArticles();
---

<HomePickupSection
  title="おしらせ"
  hrefViewMore="/articles"
  themeColor="matcha"
>
  <ul class={listStyle}>
    {
      newArticles.map(
        ({
          id,
          title,
          thumbnail,
          thumbnailAlt,
          thumbnailDisplayAlt,
          publishedAt,
          themeColor,
        }) => (
          <li class={listItemStyle}>
            <LetterLink
              href={`/articles/${id}`}
              title={title}
              thumbnail={thumbnail}
              thumbnailAlt={thumbnailAlt}
              thumbnailDisplayAlt={thumbnailDisplayAlt}
              publishedAt={publishedAt}
              themeColor={themeColor}
            />
          </li>
        ),
      )
    }
  </ul>
</HomePickupSection>
