---
import DecorativeAvatarLink from "@components/domains/avatar/DecorativeAvatarLink/DecorativeAvatarLink.astro";
import HomePickupSection from "@components/layouts/Sections/HomePickupSection.astro";
import { fetchCasts } from "@lib/contents/casts";

import { css } from "@styles/css";

const casts = await fetchCasts();

const listStyle = css({
  display: "flex",
  flexDir: "row",
  alignItems: "end",
  justifyContent: "center",
  gap: "4",
  pb: "8",

  h: "96",
  w: "256",
  bg: "white",
  rounded: "2xl",
  borderStyle: "dashed",
  borderWidth: "lg",
  borderColor: "latte.regular",
});

const listItemStyle = css({
  w: "28",
  h: "[inherit]",
});

const imageWrapStyle = css({
  w: "43",
  p: "-4",
  h: "full",
  display: "flex",
  flexDir: "column",
  alignItems: "center",
});

const homeBg = css({
  bgGradient: "rose.checkered",
});
---

<HomePickupSection
  title="店員さんピックアップ"
  class={homeBg}
  link={{
    label: "すべての店員さんをみる",
    href: "/cast",
  }}
>
  <ul class={listStyle}>
    {
      casts.map(({ profile: { nickname } }) => (
        <li class={listItemStyle}>
          <DecorativeAvatarLink
            class={imageWrapStyle}
            nickname={nickname}
            type="neutral"
            avatarIndex={0}
            width={512}
          />
        </li>
      ))
    }
  </ul>
</HomePickupSection>
