---
import AvatarImage from "@/components/domains/avatar/AvatarImage.astro";
import { ensureNonNil } from "@/lib/utils/type";
import SnapSection from "@components/layouts/Sections/SnapSection.astro";
import { fetchCasts } from "@lib/contents/casts";

import { css } from "@styles/css";

const casts = await fetchCasts();

const rootStyle = css({
  bg: "rose.bg",
});

const listStyle = css({
  display: "flex",
  flexDir: "row",
  alignItems: "end",
});

const imageWrapStyle = css({
  w: "64",
  display: "flex",
  flexDir: "column",
  alignItems: "center",
});
---

<SnapSection class={rootStyle}>
  <ul class={listStyle}>
    {
      casts.map(({ profile: { nickname }, avatars }) => (
        <li>
          <a href={`/cast/${nickname}`} class={imageWrapStyle}>
            {`${avatars[0]!.height} cm`}
            <AvatarImage
              avatar={ensureNonNil(avatars[0])}
              type="neutral"
              alt={`${nickname} のアバター`}
              width={512}
            />
          </a>
        </li>
      ))
    }
  </ul>
</SnapSection>
