---
import DecorativeLink from "@/components/decoratives/Links/DecorativeLink.astro";
import { randomId } from "@/lib/utils/random";
import SectionHeading from "@components/decoratives/Headings/SectionHeading.astro";
import { css } from "@styles/css";

interface Props {
  class?: string;
  title: string;
  link: {
    label: string;
    href: string;
  };
}

const { class: sectionClass, title, link } = Astro.props;

const fitStyle = css({
  scrollSnapAlign: "center",
  minH: "160",
  h: "160",
  display: "flex",
  flexDir: "column",
  alignItems: "center",
  justifyContent: "center",
  gap: "16",
});

const id = randomId();
---

<nav class:list={[fitStyle, sectionClass]} aria-labelledby={id}>
  <SectionHeading id={id}>{title}</SectionHeading>
  <slot />
  <DecorativeLink href={link.href} position="left">{link.label}</DecorativeLink>
</nav>
