---
import StartDateInfo from "@assets/images/events/202604-april-fool/date-info.png";
import Logo from "@assets/images/events/202604-april-fool/logo.png";
import HeroImage from "@assets/images/events/202604-april-fool/main.png";
import CustomPicture from "@components/commons/CustomPicture/CustomPicture.astro";
import { toWidths } from "@components/domains/avatar/images/common";
import { css } from "@styles/css";

const rootStyle = css({
  display: "flex",
  width: "full",
  height: {
    base: "[75rem]",
    _pc: "[50rem]",
  },

  _spOnly: {
    flexDir: "column-reverse",
    alignItems: "center",
  },

  flexDir: "row",
});

const logoColStyle = css({
  flex: "1",
  display: "flex",
  flexDirection: "column",
  justifyContent: "center",
  alignItems: "center",
});

const imageColStyle = css({
  flex: "1",
  pos: "relative",
  justifyContent: "center",
  alignItems: "center",

  _spOnly: {
    w: "full",
  },
});

const logoImgStyle = css({
  w: "[45rem]",
});

const onairInfoImgStyle = css({
  width: { base: "96", _pc: "128" },
});

const heroImageStyle = css({
  pos: "absolute",
  w: "[260rem]",
  top: {
    base: "[30%]",
    _pc: "[50%]",
  },

  _pc: {
    left: "[35%]",
    transform: "translate(-50%, -50%)",
  },

  zIndex: "back",
});
---

<section class={rootStyle}>
  <div class={logoColStyle}>
    <h1>
      <CustomPicture class={logoImgStyle} src={Logo} alt="ロリっ子探偵ぷぷりィホームズ" fit="cover" height={720} width={1440} widths={toWidths(1440, { width: 1440, height: 720 })} />
    </h1>
    <CustomPicture class={onairInfoImgStyle} src={StartDateInfo} alt="PPLEテレビ・テレビお菓子系25局ネットにて2000026年4月1日放送スタート" fit="cover" height={626} width={1024} widths={toWidths(1024, { width: 1024, height: 626 })} />
  </div>
  <div class={imageColStyle}>
    <CustomPicture src={HeroImage} alt="" class={heroImageStyle} height={940} width={1160} widths={toWidths(1160, { width: 1160, height: 940 })} />
  </div>
</section>