---
import { randomId } from "@/lib/utils/random";
import SectionHeading from "@components/decoratives/Headings/SectionHeading.astro";
import DecorativeLink from "@components/decoratives/Links/DecorativeLink.astro";
import { css, cva } from "@styles/css";
import type { HTMLAttributes } from "astro/types";
import type { ThemeColor } from "./type";

interface Props extends HTMLAttributes<"nav"> {
  themeColor: ThemeColor;
  title: string;
  hrefViewMore: string;
}

const {
  class: className,
  title,
  hrefViewMore,
  themeColor,
  ...attrs
} = Astro.props;

const fitStyle = css({
  scrollSnapAlign: "center",
  display: "flex",
  flexDir: "column",
  alignItems: "center",
  justifyContent: "center",
  gap: "16",

  // SP
  minH: "256",
  h: "256",

  _pc: {
    minH: "160",
    h: "160",
  },
});

const id = randomId();
---

<nav class:list={[fitStyle, className]} aria-labelledby={id} {...attrs}>
  <SectionHeading id={id}>{title}</SectionHeading>
  <slot />
  <DecorativeLink themeColor={themeColor} href={hrefViewMore}>
    もっとみる
  </DecorativeLink>
</nav>
