---
import { getCollection } from "astro:content";
import AvatarImage from "@components/domains/avatar/images/AvatarImage.astro";
import Blank from "@layouts/Blank.astro";
import { css } from "@styles/css";

/**
 * ツールページ: 立ち絵の高さ比較用
 */

const casts = await getCollection("casts");

const avatars = casts.flatMap((cast) =>
  cast.data.avatars.map((_, index) => ({ index, nickname: cast.data.profile.nickname })),
);

const pageStyle = css({
  w: "full",
  h: "full",
  pt: "26",
  pl: "12",
  overflow: "auto",
});

const rootStyle = css({
  display: "flex",
  gap: "4",
  flexDirection: "row",
  width: "[max-content]",
});

const listItemStyle = css({
  pos: "relative",
  w: "[256px]",
  h: "[1024px]",
});

const imgStyle = css({
  pos: "absolute",
  w: "[512px]",
  h: "[1024px]",
});
---

<Blank>
  <section class={pageStyle}>
    <h1>立ち絵の高さ比較用</h1>
    <ul class={rootStyle}>
      {
        avatars.map((avatar) => (
          <li class={listItemStyle}>
            <AvatarImage
              nickname={avatar.nickname}
              avatarIndex={avatar.index}
              expression="neutral"
              width={512}
              height={1024}
              class={imgStyle}
              responsive={false}
              alt=""
            />
          </li>
          <li class={listItemStyle}>
            <AvatarImage
              nickname={avatar.nickname}
              avatarIndex={avatar.index}
              expression="emotional"
              width={512}
              height={1024}
              class={imgStyle}
              responsive={false}
              alt=""
            />
          </li>
        ))
      }
    </ul>
  </section>
</Blank>
