---
import {
  GLOBAL_NAVIGATION_EXPANDED_STATE_ID,
  GLOBAL_NAVIGATION_ID,
} from "@lib/ids";
import { css } from "@styles/css";
import HeaderLogo from "./HeaderLogo.astro";
import HeaderLogoKnot from "./HeaderLogoKnot.astro";
import HeaderNavItem from "./HeaderNavItem.astro";
import HumbergerIconButton from "./HumbergerIconButton.astro";

const rootStyle = css({
  px: "6",
  h: "14",
  pos: "relative",

  '& [role="button"]': {
    pos: "absolute",
    top: "0",
    right: "2",
    zIndex: "top",

    pc: {
      display: "none",
    },
  },

  "& ul": {
    display: "none",

    pc: {
      display: "flex",
      justifyContent: "end",
      gap: "6",
    },
  },

  spOnly: {
    "&:has(:checked) ul": {
      display: "flex",
      justifyContent: "center",
      flexDir: "column",

      placeItems: "center",
      gap: "4",

      animation: "fadeIn",
      animationFillMode: "both",
      animationDuration: "fast",

      pos: "absolute",
      top: "0",
      left: "0",
      w: "[100vw]",
      h: "[100vh]",
      bg: "white/60",
      zIndex: "overlay",
    },
  },
});

const logoStyle = css({
  position: "absolute",
  display: "block",
  zIndex: "top",
  shadow: "sm",

  top: "1",
  left: "7",
});

const knotStyle = css({
  display: "none",

  pc: {
    display: "block",
    position: "absolute",
    right: "2",
    zIndex: "top",
    top: "10",
  },
});
---

<nav
  class={rootStyle}
  aria-label="グローバルナビゲーション"
  id={GLOBAL_NAVIGATION_ID}
>
  <HumbergerIconButton
    aria-label="グローバルナビゲーションを開く"
    aria-controls={GLOBAL_NAVIGATION_ID}
    inputId={GLOBAL_NAVIGATION_EXPANDED_STATE_ID}
  />
  <HeaderLogo class={logoStyle} />
  <HeaderLogoKnot class={knotStyle} />
  <ul>
    <li>
      <HeaderNavItem label="ホーム" path="/" />
    </li>
    <li>
      <HeaderNavItem label="ニュース" path="/articles" />
    </li>
    <li>
      <HeaderNavItem label="コンセプト" path="/concepts" />
    </li>
    <li>
      <HeaderNavItem label="キャスト" path="/casts" />
    </li>
    <li>
      <HeaderNavItem label="ガイドライン" path="/guidelines" />
    </li>
  </ul>
  <script>
    import {
      GLOBAL_NAVIGATION_ID,
      GLOBAL_NAVIGATION_EXPANDED_STATE_ID,
    } from "@lib/ids";
    import { isPC } from "@lib/breakpoint";

    const checkboxEl = document.getElementById(
      GLOBAL_NAVIGATION_EXPANDED_STATE_ID,
    )! as HTMLInputElement;
    const navigationEl = document.getElementById(GLOBAL_NAVIGATION_ID)!;

    checkboxEl.addEventListener("change", updateAriaExpanded);
    window.addEventListener("resize", updateAriaExpanded);

    function updateAriaExpanded() {
      const pc = isPC();
      navigationEl.ariaExpanded = pc
        ? "undefined"
        : (!!checkboxEl.checked).toString();

      if (pc) {
        checkboxEl.checked = false;
      }
    }

    updateAriaExpanded();
  </script>
</nav>
