---
import {
  GLOBAL_NAVIGATION_EXPANDED_STATE_ID,
  GLOBAL_NAVIGATION_ID,
} from "@lib/constants/ids.generated";
import { css } from "@styles/css";
import HeaderLogo from "./HeaderLogo.astro";
import HeaderNavItem from "./HeaderNavItem.astro";
import HumbergerIconButton from "./HumbergerIconButton.astro";

const rootStyle = css({
  px: "42",
  h: "12",
  pos: "relative",

  '& [role="button"]': {
    pos: "absolute",
    top: "0",
    right: "2",
    zIndex: "top",

    _pc: {
      display: "none",
    },
  },

  "& > ul": {
    display: "none",

    _pc: {
      display: "flex",
      justifyContent: "end",
      gap: "6",
    },
  },

  _spOnly: {
    "&:has(:checked)": {
      "& > ul": {
        display: "flex",
        justifyContent: "center",
        flexDir: "column",
        zIndex: "header",

        placeItems: "center",
        gap: "4",

        animation: "fadeIn",
        animationFillMode: "both",
        animationDuration: "fast",

        pos: "absolute",
        top: "0",
        left: "0",
        w: "[100vw]",
        h: "[100vh]",
        bg: "white/90",
      },
    },
  },
});

const logoStyle = css({
  position: "absolute",
  display: "block",
  zIndex: "sticky",

  top: "1",
  left: "7",

  _pc: {
    left: "42",
  },
});
---

<nav
  class={rootStyle}
  aria-label="グローバルナビゲーション"
  id={GLOBAL_NAVIGATION_ID}
>
  <HumbergerIconButton
    aria-label="グローバルナビゲーションを開く"
    aria-controls={GLOBAL_NAVIGATION_ID}
    inputId={GLOBAL_NAVIGATION_EXPANDED_STATE_ID}
  />
  <HeaderLogo class={logoStyle} />
  <ul>
    <li>
      <HeaderNavItem label="ホーム" path="/" />
    </li>
    <li>
      <HeaderNavItem label="おしらせ" path="/article" />
    </li>
    <li>
      <HeaderNavItem label="キャスト" path="/cast" />
    </li>
    <li>
      <HeaderNavItem label="ガイドライン" path="/guideline" />
    </li>
  </ul>
  <script>
    import {
      GLOBAL_NAVIGATION_ID,
      GLOBAL_NAVIGATION_EXPANDED_STATE_ID,
    } from "@lib/constants/ids.generated";
    import { isPC } from "@lib/browsers/breakpoint";

    const checkboxEl = document.getElementById(
      GLOBAL_NAVIGATION_EXPANDED_STATE_ID,
    )! as HTMLInputElement;
    const navigationEl = document.getElementById(GLOBAL_NAVIGATION_ID)!;

    checkboxEl.addEventListener("change", updateAriaExpanded);
    window.addEventListener("resize", updateAriaExpanded);

    function updateAriaExpanded() {
      const pc = isPC();
      navigationEl.ariaExpanded = pc
        ? "undefined"
        : (!!checkboxEl.checked).toString();

      if (pc) {
        checkboxEl.checked = false;
      }
    }

    updateAriaExpanded();
  </script>
</nav>
